@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-green {
      @apply outline-none border-none py-2 px-4 w-auto flex justify-center items-center  bg-green-500 hover:bg-green-600 text-white transition ease-in duration-200 text-center text-base font-semibold shadow-md rounded-md;
    }
    .btn-white {
        @apply py-2 px-4 border text-base rounded-md text-gray-600 bg-white hover:bg-gray-100
    }
    .btn-black-outlined {
        @apply py-2 px-3.5 font-medium text-sm transition ease-in duration-200 uppercase rounded-full hover:bg-gray-800 hover:text-white border-2 border-gray-900 focus:outline-none
    }

    .btn-black {
        @apply py-2 px-3.5 font-medium text-sm transition ease-in duration-200 uppercase rounded-full bg-gray-800 hover:bg-gray-900 text-white border-2 border-gray-900 focus:outline-none
    }
    .link{
        @apply cursor-pointer no-underline text-indigo-500 hover:text-gray-800 hover:underline
    }

   
  }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}